.contact {
	display: block;
	font-size: 1.5em;
}
.contact label {
	color: #38699a;
	display: inline-block;
	width: 120px;
	margin-right: 30px;
	text-align: right;
}
#formtitle {
	color: #38699a;
}
fieldset {
	border:none;
	width: 90%;
}
form {
	display: table;
}
form input, form textarea {
	display: table-cell;
	margin-left: auto;
}
#plane, #plane2 {
	width: 100px;
}
