
body {
	display: grid;
	grid-gap: -20%;
	grid-template-columns: 30% auto;
	grid-template-areas: 
		"logo 	header"
		"logo 	frog"
		"nav 	frog"
		"....... frog"
		"....... frog"
		"....... frog"
        "footer footer";
}
#logo {
grid-area: logo
}	
header {
grid-area: header;
}
nav {
grid-area: nav;
}
#frog {
grid-area: frog;
}
#clothes {
grid-area: clothes;
}
footer {
grid-area: footer;
}