
body {
	display: grid;
	grid-gap: -20%;
	grid-template-columns: 30% 50% 20%;
	grid-template-areas: 
		"logo 	header ......."
		"logo 	frog ......."
		"nav 	frog ......."
		"....... frog ......."
		"....... frog clothes"
		"....... frog clothes"
		"....... ....... footer";
}
#logo {
grid-area: logo
}	
header {
grid-area: header;
}
nav {
grid-area: nav;
}
#frog {
grid-area: frog;
}
#clothes {
grid-area: clothes;
}
footer {
grid-area: footer;
}