/*

purple		: #a8aedf;
blue		: #38699a;
dark green	: #7ec769;
light green	: #d4e6c1
pink		: #fccec5;

*/

} 
@font-face {
	font-family: "Times New Milly";
	src: url("../assets/fonts/TimesNewMilly-Regular.ttf");
} 
body {
	font-family: "Times New Milly";
	background-color: #a8aedf;
	overflow: auto;
	height: 500px;
	overflow-x: hidden;
}
header {
	display: table;
	
	width: 100%;
    background-color: #d1cbef;
    border-radius: 50px;
    height: 100px;
    padding: 20px 150px 20px 150px;
    
    position: relative;
    right: 400px;
    bottom: -170px;
    z-index: 1;
}
header h1 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	
	text-transform: uppercase;
	font-size: 4em;
    color: #38699a;
    white-space: nowrap;
}

#logo {
	margin-top: 20px;
    margin-left: 100px;
    z-index: 2;
}
#logopic {
    width: 500px;
}

#frog {
	padding-left: 15%;
    position: relative;
    bottom: -200px;
}
#nakedfrog, .clothedfrog {
	width: 650px;
}
.clothedfrog {
	position: absolute;
	/* i did this on my computer, i have to change what it looks like at borscht */
	visibility: hidden;
}

h1 {
	z-index: 2;
}
h1 a {text-decoration: none;}
h1 a:visited {color: #38699a;}

nav ul {
    background-color: #d1cbef;
    border-radius: 50px;
    padding: 20px; 
    
    margin-left: 80px;
	font-size: 3em;
}

nav li, nav .dropdown {
	display: inline-block;
	margin: auto 5px auto 5px;
}
nav li a {
	text-decoration: none;
	color: #38699a;
}
nav li a:hover {
	color: #fff;
}
.dropitems {
	display: none;
	position: absolute;
	min-width: 160px;
	background-color: #d1cbef;
	z-index: 1;
	border-radius: 0 0 30px 30px;
}
.dropitems a {
	text-decoration: none;
	color: #38699a;
	display: block;
	padding: 5px;
	margin: 5px;
}
.dropitems a:first-child {
	padding-top: 25px;
}
.dropdown:hover .dropitems {
	display: block;
}
.dropitems a:hover {
	color: #fff;
}
.dropdown:hover .dropbutton a {
	color: #a8aedf;
}

#clothes {
    position: relative;
    right: 800px;
    bottom: 1200px;
    
    padding-bottom: 100px;
    height: 500px;
}

#sock1 {
	width: 150px;
	position: absolute;
	right: 1150px;
	bottom: -350px;
	transform: rotate(-30deg);
}
#pants {
	width: 130px;
	position: absolute;
	right: -100px;
	bottom: 250px;
    transform: rotate(-20deg); 
    
}
#shirt {
	width: 150px;
	position: absolute;
	right: 1000px;
	bottom: 200px;
	transform: rotate(10deg);
}
#sock2 {
	width: 150px;
	position: absolute;
	right: -300px;
	bottom: -200px;
	transform: rotate(20deg);  
}

footer {
    color: #38699a;
    background-color: #d1cbef;
    border-radius: 50px;
    padding: 20px;
    
    position: relative;
    bottom: 0;
    width: 90%;
    height: 80px;
    
    z-index: -1;
    margin: 0px 100px 200px 100px;
}
