/*

purple		: #a5b6ed;
blue		: #38699a;
dark green	: #7ec769;
light green	: #d4e6c1
pink		: #fccec5;
whitesockyness : #f4f0ec;
*/

@font-face {
    font-family: 'Times New Milly';
    src: url('../assets/fonts/timesnewmilly-regular-webfont.woff2') format('woff2'),
		 url('../assets/fonts/timesnewmilly-regular-webfont.woff') format('woff'),
		 url('../assets/fonts/TimesNewMilly-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}
body {
	height: 100vh;
	margin: 20px 200px 200px 200px;
	font-family: "Times New Milly", Helvetica, sans-serif;
	font-size: 1em;
	background-color: #a5b6ed;
	overflow: auto;
	overflow-x: hidden;
}
header {
	display: table;
	
    background-color: #d1cbef;
    border-radius: 50px;
    border: solid 5px black;
	padding: 20px 150px 20px 150px;
	width: 50%;
}
header h1 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	
	text-transform: uppercase;
	font-size: 6em;
    color: #38699a;
	white-space: nowrap;
	
	height: 20%;
	width: 60%;
	
	z-index: 2;
}
#logopic {
	width: 80%;
}
#logo {
	width: 500px;
}
#top {
	display: flex;
	align-items: center;
}
h1 a {text-decoration: none;}
h1 a:visited {color: #38699a;}

nav ul {
    background-color: #d1cbef;
    border-radius: 50px;
    border: solid 5px black;
    padding: 20px; 
	font-size: 3em;
	text-align: center;
	width: 90%;
}
nav li, nav .dropdown {
	display: inline-block;
	margin: auto 0.5em auto 0.5em;
}
nav li a {
	text-decoration: none;
	color: #38699a;
}
nav li a:hover {
	color: black;
}
.dropitems {
	visibility: hidden;
	position: absolute;
	margin-left: -5.2em;

	width: 400px;
	background-color: rgba(244,240,236,0.0);
	z-index: 1;
	border-radius: 0 0 30px 30px;
	border: solid 5px black;

	display: grid !important;
	grid-template-columns: 50% auto;
	grid-template-areas:
		"col1 col2";
}
.dropcol1 {grid-area: col1;}
.dropcol2 {grid-area: col2;}
.dropitems a {
	text-decoration: none;
	color: #38699a;
	display: block;
	padding: 5px;
	margin: 5px;
}
.dropitems a:first-child {
	padding-top: 25px;
}
.dropdown:hover .dropitems {
	display: block;
	visibility: visible;
	background-color: #d1cbef;
	color: #38699a;
}
.dropitems a:hover {
	color: black;
}
.dropdown:hover .dropbutton a {
	color: black;
}
footer {
    color: #38699a;
	background-color: #d1cbef;
	font-size: 3em !important;
	text-align: center;
    border-radius: 50px;
    border: solid 5px black;
	padding: 20px;
	margin-bottom: 5em;
	
	position: relative;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer img {
	margin-right: 1em;
	margin-left: 1em;
}

/*	RESOLUTIONS		*/
@media only screen and (max-width: 1920px) {
	body {
		margin: 20px 200px 200px 100px;
	}
	header {width: 40%;}
	header h1 {font-size: 4em;}
	nav	ul {
		font-size: 2em;
		width: 120%;
	}
	nav li, nav .dropdown {
		margin-left: 0.2em;
		margin-right: 0.2em;
	}
	footer {
		font-size: 2em !important;
		margin-left: 100px;
	}
}