/*

purple	: #a8aedf;
blue	: #38699a;

*/

} 
@font-face {
	font-family: "TimesNewMilly-Regular";
	src: url("../assets/fonts/TimesNewMilly-Regular.ttf");
} 
body {
	font-family: "TimesNewMilly-Regular";
	background-color: #a8aedf;
	overflow: auto;
	height: 500px;
	overflow-x: hidden;
}
header {
	width: 100%;
	text-align: center;
	
	text-transform: uppercase;
	font-size: 2.5em;
	color: #38699a;
}
header h1 {
    background-color: #d1cbef;
    border-radius: 50px;
    padding: 40px 400px 20px 400px;
    
    position: relative;
    right: 400px;
    bottom: -130px;
    z-index: 1;
    white-space: nowrap;
}

#logo {
	margin-top: 20px;
    margin-left: 100px;
    z-index: 2;
}
#logopic {
    width: 500px;
}

#frog {
	padding-left: 15%;
    position: relative;
    bottom: -200px;
}

h1 {
	z-index: 2;
}
h1 a {text-decoration: none;}
h1 a:visited {color: #38699a;}

nav ul {
    background-color: #d1cbef;
    border-radius: 50px;
    padding: 20px; 
    
    margin-left: 100px;
}
nav li {
	display: inline-block;
	margin: auto 10px auto 10px;
}
nav li a {
	text-decoration: none;
	color: #38699a;
	font-size: 3em;
}
nav li a:hover {
	color: #fff;
}

#clothes {
    position: relative;
    right: 800px;
    bottom: 300px;
    
    padding-bottom: 100px;
    height: 500px;
}

#sock1 {
	position: absolute;
	right: 950px;
	bottom: -400px;
	transform: rotate(-30deg);
}
#sock2 {
	position: absolute;
	right: -100px;
	bottom: 250px;
    background-color: lightblue;
}
#shirt {
	position: absolute;
	right: 1200px;
	bottom: -50px;
	transform: rotate(10deg);
}
#pants {
	position: absolute;
	right: -300px;
	bottom: -200px;
	transform: rotate(-20deg); 
}

footer {
    color: #38699a;
    background-color: #d1cbef;
    border-radius: 50px;
    padding: 20px;
    
    position: relative;
    bottom: 0;
    width: 90%;
    height: 80px;
    
    z-index: -1;
    margin: 0px 100px 200px 100px;
}
