main {
    display: grid;
	grid-template-columns: 32% auto;
	grid-template-areas:
            "nav	    content"
            "stickers   content";
}
nav {grid-area: nav;}
#stickerside {
    grid-area: stickers;
    margin: 1em;
}
#content {
    grid-area: content;
    margin: 1em 1em 3em 5em;
    font-size: 2em;
}

/*	RESOLUTIONS		*/
@media only screen and (max-width: 1920px) {
	#content {
        margin: 1em -3em 3em 5em;
    }
}