main ul li {
	text-align: center;
	display: block;
	margin: 10px 10px 30px -120px;
	font-size: 3em;
}
main li a {
	text-decoration: none;
	color: #fff;
	background-color: rgba(56, 105, 154, 1.0);
	padding: 10px;
	border-radius: 20px;
	
	transition: background-color 100ms;
}
main li a:hover {
	background-color: rgba(56, 105, 154, 0.5)
}

#turtle {
	position: relative;
	bottom: 270px;
	right: -550px;
}